  
  body{
    background-color:rgb(25, 25, 25);

  }

h3{
    font-size: 6em;
}

p{
    font-size: 1.2em;
}

.aboutmeheader{
    margin-top: 400px;
    margin-bottom: 100px;
    margin-left: 350px;

}

.about{
    margin-left: 300px;
    margin-right: 300px;
}

