  /* Background image in motion, imported as an svg */
  
  @font-face {
    src: url("./fonts/CondorVariable-VF-Edu.woff2") format("woff2"),
        url('./fonts/CondorVariable-VF-Edu.ttf') format('truetype');
        font-family: 'Condor Variable Regular';
        font-style: normal;
        font-weight: normal;
  
      }

      .londrina-solid-thin {
        font-family: "Londrina Solid", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .londrina-solid-light {
        font-family: "Londrina Solid", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .londrina-solid-regular {
        font-family: "Londrina Solid", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .londrina-solid-black {
        font-family: "Londrina Solid", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      
  
  
  body{
    background-color:rgb(25, 25, 25);

  
  }
  h5{
    font-weight: 40;
    font-size: 15em;
  }


  .parallax-wrapper {
    width: 100vw;
    height:100vh;
    box-sizing: border-box;
    color:rgb(2, 150, 150);
    margin-left: 260px;
    margin-top: -200px;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 900;
    font-style: normal;

  }
  .regular-wrapper {
    z-index: 2;
    position: relative;
  }

  .regular-wrapper2 {
    z-index: 2;
    position: relative;
    background-color: rgb(255, 255, 255);
  }
  
  
  .parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh; 
    z-index: -1;
    margin-top: -300px;
  }
  
  .design{
    color: rgb(206, 83, 83);
    margin-top: -580px;
    margin-right: 230px;
    text-align: right;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 900;

  }

/* Condor design and clock as well as trajan */
  .content-wrapper {
    width:100%;
    display: grid;
    grid-gap: 0px;
    padding:0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "m m m m b b b b b b b b"
        "m m m m a a a a a a a a"
        "m m m m a a a a a a a a ";
  }


#Designs{
color:aqua
}


  .hero{
    /* grid-area: m;  */
    background-image: url("images/herosection2.svg");
    background-size: cover;
    height:1000px;
    width:1000px;
  
    /* margin-left: 60px; */
  }

  a{

  text-decoration: none;
  }

  .hero-text{
    font-family: 'Condor Variable Regular';
    Background-size: fill;
    grid-area: m;
    color: rgb(225, 205, 151);
    margin-top: -60px;
    margin-bottom:20px;
    height: 1000px;
    width: 1000px;
  
    
   }
   
   .trajan{
    grid-area: b;
    background-image: url("images/trajan.svg"); 
    background-size: cover;
    margin-left: -115px;
    margin-top: -57px;
    height: 502px;
    width: 502px;

   }

   .clock{
    grid-area: a;
    background-image: url("images/clock.svg");
    background-size: cover;
    margin-left: -115px;
    margin-top: -1214px;
    height:502px;
    width: 502px;
    margin-bottom: 20px;
   }



/* fooer info and link */
/* copy to footer */

  .footer{
  margin-top: 1600px;
  text-align: left;


  }
   